
.idea/workspace.xml
.idea/runConfigurations/main_dart.xml
.idea/libraries/KotlinJavaRuntime.xml
.idea/libraries/Dart_SDK.xml
.DS_Store
.dart_tool/version
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/chrome-device/Default/WebStorage/QuotaManager-journal
.dart_tool/chrome-device/Default/WebStorage/QuotaManager
.dart_tool/chrome-device/Default/Web Data-journal
.dart_tool/chrome-device/Default/Web Data
.dart_tool/chrome-device/Default/Visited Links
.dart_tool/chrome-device/Default/trusted_vault.pb
.dart_tool/chrome-device/Default/TransportSecurity
.dart_tool/chrome-device/Default/Top Sites-journal
.dart_tool/chrome-device/Default/Top Sites
.dart_tool/chrome-device/Default/Sync Data/LevelDB/MANIFEST-000001
.dart_tool/chrome-device/Default/Sync Data/LevelDB/LOG.old
.dart_tool/chrome-device/Default/Sync Data/LevelDB/LOG
.dart_tool/chrome-device/Default/Sync Data/LevelDB/LOCK
.dart_tool/chrome-device/Default/Sync Data/LevelDB/CURRENT
.dart_tool/chrome-device/Default/Sync Data/LevelDB/000003.log
.dart_tool/chrome-device/Default/Site Characteristics Database/MANIFEST-000001
.dart_tool/chrome-device/Default/Site Characteristics Database/LOG.old
.dart_tool/chrome-device/Default/Site Characteristics Database/LOG
.dart_tool/chrome-device/Default/Site Characteristics Database/LOCK
.dart_tool/chrome-device/Default/Site Characteristics Database/CURRENT
.dart_tool/chrome-device/Default/Site Characteristics Database/000003.log
.dart_tool/chrome-device/Default/Shortcuts-journal
.dart_tool/chrome-device/Default/Shortcuts
.dart_tool/chrome-device/Default/shared_proto_db/metadata/MANIFEST-000001
.dart_tool/chrome-device/Default/shared_proto_db/metadata/LOG.old
.dart_tool/chrome-device/Default/shared_proto_db/metadata/LOG
.dart_tool/chrome-device/Default/shared_proto_db/metadata/LOCK
.dart_tool/chrome-device/Default/shared_proto_db/metadata/CURRENT
.dart_tool/chrome-device/Default/shared_proto_db/metadata/000003.log
.dart_tool/chrome-device/Default/shared_proto_db/MANIFEST-000001
.dart_tool/chrome-device/Default/shared_proto_db/LOG.old
.dart_tool/chrome-device/Default/shared_proto_db/LOG
.dart_tool/chrome-device/Default/shared_proto_db/LOCK
.dart_tool/chrome-device/Default/shared_proto_db/CURRENT
.dart_tool/chrome-device/Default/shared_proto_db/000005.ldb
.dart_tool/chrome-device/Default/shared_proto_db/000004.log
.dart_tool/chrome-device/Default/shared_proto_db/000003.log
.dart_tool/chrome-device/Default/Sessions/Tabs_13320992625917371
.dart_tool/chrome-device/Default/Sessions/Tabs_13320986186278898
.dart_tool/chrome-device/Default/Sessions/Tabs_13320984499236018
.dart_tool/chrome-device/Default/Sessions/Tabs_13320984461115790
.dart_tool/chrome-device/Default/Sessions/Session_13320992624232843
.dart_tool/chrome-device/Default/Sessions/Session_13320986184919623
.dart_tool/chrome-device/Default/Sessions/Session_13320984498293185
.dart_tool/chrome-device/Default/Sessions/Session_13320984459631115
.dart_tool/chrome-device/Default/Session Storage/MANIFEST-000001
.dart_tool/chrome-device/Default/Session Storage/LOG.old
.dart_tool/chrome-device/Default/Session Storage/LOG
.dart_tool/chrome-device/Default/Session Storage/LOCK
.dart_tool/chrome-device/Default/Session Storage/CURRENT
.dart_tool/chrome-device/Default/Session Storage/000003.log
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/index-dir/the-real-index
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/index
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/4cb013792b196a35_0
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_1
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_0
.dart_tool/chrome-device/Default/Service Worker/Database/MANIFEST-000001
.dart_tool/chrome-device/Default/Service Worker/Database/LOG.old
.dart_tool/chrome-device/Default/Service Worker/Database/LOG
.dart_tool/chrome-device/Default/Service Worker/Database/LOCK
.dart_tool/chrome-device/Default/Service Worker/Database/CURRENT
.dart_tool/chrome-device/Default/Service Worker/Database/000003.log
.dart_tool/chrome-device/Default/Service Worker/CacheStorage/b10d04ea8c4ad8f8702c039c5bc5c395d6d735d4/index.txt
.dart_tool/chrome-device/Default/Service Worker/CacheStorage/b10d04ea8c4ad8f8702c039c5bc5c395d6d735d4/ec94b226-4ad0-4afe-92f7-4d79cd8cc689/index-dir/the-real-index
.dart_tool/chrome-device/Default/Service Worker/CacheStorage/b10d04ea8c4ad8f8702c039c5bc5c395d6d735d4/ec94b226-4ad0-4afe-92f7-4d79cd8cc689/index
.dart_tool/chrome-device/Default/Segmentation Platform/SignalStorageConfigDB/LOG.old
.dart_tool/chrome-device/Default/Segmentation Platform/SignalStorageConfigDB/LOG
.dart_tool/chrome-device/Default/Segmentation Platform/SignalStorageConfigDB/LOCK
.dart_tool/chrome-device/Default/Segmentation Platform/SignalDB/LOG.old
.dart_tool/chrome-device/Default/Segmentation Platform/SignalDB/LOG
.dart_tool/chrome-device/Default/Segmentation Platform/SignalDB/LOCK
.dart_tool/chrome-device/Default/Segmentation Platform/SegmentInfoDB/LOG.old
.dart_tool/chrome-device/Default/Segmentation Platform/SegmentInfoDB/LOG
.dart_tool/chrome-device/Default/Segmentation Platform/SegmentInfoDB/LOCK
.dart_tool/chrome-device/Default/Secure Preferences
.dart_tool/chrome-device/Default/Safe Browsing Cookies-journal
.dart_tool/chrome-device/Default/Safe Browsing Cookies
.dart_tool/chrome-device/Default/Reporting and NEL-journal
.dart_tool/chrome-device/Default/Reporting and NEL
.dart_tool/chrome-device/Default/README
.dart_tool/chrome-device/Default/PreferredApps
.dart_tool/chrome-device/Default/Preferences
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/fd54daa0-fd0b-4e32-bd35-8522f54fe79a/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/fd1bad29-6e3e-4054-bd73-97d4d1d09ff8/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/fb440e52-edfe-4079-ab78-a5554c5062e1/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/f74cc62c-6f7f-456c-8e53-f1aaca2703c3/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/f03aaa24-2716-4763-87ef-0bb0b1c9dac6/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/efcc239b-c0a4-48c8-a50a-05feba875c01/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/e85caabb-ecfb-4cf8-b450-dc006119af83/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/e0a34155-e52a-4fcb-bdb7-91eede890f42/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/d68d5358-9ab7-4b99-a5f2-f314c3393f4b/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/d50515c9-ab21-4b16-88ae-1d296c05142d/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/d1b8c748-45a8-4f1a-8f42-72d96713a08f/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/ce45a637-bb51-46b3-afe4-9fbe34165182/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/ccee5227-f9f1-4bb5-bcf7-5093bfafa5a2/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/ccd61059-8e3c-485b-9e98-cc1ec1e2f19a/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/c6625174-c274-4f06-8ee4-34cba2e1192e/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/bf9cf367-9e75-4f8f-b337-4b1d96fb1a92/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/bbd91cd8-71e4-470a-95d3-d69aa966cf7d/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/bb707fba-4609-403c-b4bc-75e6079e2e98/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/b6ecf1cf-8820-45d5-94eb-4d99be1b80bf/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/b6cefb23-47a1-48b3-b63d-a0e7fcba14ad/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/b52a9cd3-c479-4895-a599-00f191b3cc5d/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/b31003cc-0d26-4430-8e19-88fe35c866b4/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/b1817191-9009-4b86-a65c-687111f6e0aa/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/a881332a-79ca-4284-9d9d-c929661c8d2e/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/a5999677-3d88-4bcb-b2c4-cfbf76202e8f/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/a4af3d8d-85ea-441e-b53c-4fcbd131dc97/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/a1ec3460-2a1b-44ec-a57e-8fd6c28f976d/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/9d90c3aa-ddd4-484a-8cca-0ea0977a76ca/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/98376e8a-92ef-4355-a378-72ec00dea0ef/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/8dbd0b13-2e62-478a-9230-34257420df23/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/870d00fa-f6cc-4267-93da-b2ce14ba78e3/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/85e9fbdc-b2db-471b-be1f-eb6688c7e626/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/7d96747e-7011-4b92-89aa-ea06254c5980/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/7439ff7c-706d-4e3f-8fb6-6c0d6573beac/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/70a4504f-b7a1-4744-865d-6d8371c661ed/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/6eb36b01-4043-41c6-842d-b9191c616eff/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/65fff41c-4757-4924-bde5-77a8bdd9371d/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/61915f1c-773f-4b1b-b55d-d9f26f2d8781/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/58dafd1b-339c-4d55-b33f-f9945e0f9911/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/52ed4a25-9b81-49b5-9b32-ffe5885876d1/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/5176218d-d80c-4ed2-b273-fc5587ddf99f/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/4d548c59-d074-49aa-88c9-5938a74bcdd2/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/39863109-786d-4bbd-b3bd-f5885ad52eef/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/37bcd9e3-b25e-4654-8cea-b290012ba15f/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/23ede2bc-6460-45cb-a2ca-0e515b373c53/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/141a6222-f4e5-47a4-bb14-bdbb2a280e14/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/08bdee6f-427f-4da0-9a88-a2ce67064f9f/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/06b34d8f-9d25-4426-8862-81a4059cffac/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/06241b02-863f-4e5a-b2fb-1a8cd26c22fc/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/031aec41-52f5-4119-b271-5e0a9b520d9a/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/019d84c9-9676-4200-9cdd-14bf9a61a47f/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_prediction_model_downloads/012feba6-6ce6-4803-8b2b-3e65eab0d215/model.tflite
.dart_tool/chrome-device/Default/optimization_guide_model_metadata_store/LOG.old
.dart_tool/chrome-device/Default/optimization_guide_model_metadata_store/LOG
.dart_tool/chrome-device/Default/optimization_guide_model_metadata_store/LOCK
.dart_tool/chrome-device/Default/optimization_guide_hint_cache_store/LOG.old
.dart_tool/chrome-device/Default/optimization_guide_hint_cache_store/LOG
.dart_tool/chrome-device/Default/optimization_guide_hint_cache_store/LOCK
.dart_tool/chrome-device/Default/Network Persistent State
.dart_tool/chrome-device/Default/Network Action Predictor-journal
.dart_tool/chrome-device/Default/Network Action Predictor
.dart_tool/chrome-device/Default/Login Data-journal
.dart_tool/chrome-device/Default/Login Data For Account-journal
.dart_tool/chrome-device/Default/Login Data For Account
.dart_tool/chrome-device/Default/Login Data
.dart_tool/chrome-device/Default/LOG.old
.dart_tool/chrome-device/Default/LOG
.dart_tool/chrome-device/Default/LOCK
.dart_tool/chrome-device/Default/Local Storage/leveldb/MANIFEST-000001
.dart_tool/chrome-device/Default/Local Storage/leveldb/LOG.old
.dart_tool/chrome-device/Default/Local Storage/leveldb/LOG
.dart_tool/chrome-device/Default/Local Storage/leveldb/LOCK
.dart_tool/chrome-device/Default/Local Storage/leveldb/CURRENT
.dart_tool/chrome-device/Default/Local Storage/leveldb/000003.log
.dart_tool/chrome-device/Default/History-journal
.dart_tool/chrome-device/Default/History
.dart_tool/chrome-device/Default/heavy_ad_intervention_opt_out.db-journal
.dart_tool/chrome-device/Default/heavy_ad_intervention_opt_out.db
.dart_tool/chrome-device/Default/GCM Store/Encryption/MANIFEST-000001
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOG.old
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOG
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOCK
.dart_tool/chrome-device/Default/GCM Store/Encryption/CURRENT
.dart_tool/chrome-device/Default/GCM Store/Encryption/000003.log
.dart_tool/chrome-device/Default/Feature Engagement Tracker/EventDB/LOG.old
.dart_tool/chrome-device/Default/Feature Engagement Tracker/EventDB/LOG
.dart_tool/chrome-device/Default/Feature Engagement Tracker/EventDB/LOCK
.dart_tool/chrome-device/Default/Feature Engagement Tracker/AvailabilityDB/LOG.old
.dart_tool/chrome-device/Default/Feature Engagement Tracker/AvailabilityDB/LOG
.dart_tool/chrome-device/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
.dart_tool/chrome-device/Default/Favicons-journal
.dart_tool/chrome-device/Default/Favicons
.dart_tool/chrome-device/Default/Extension State/MANIFEST-000001
.dart_tool/chrome-device/Default/Extension State/LOG.old
.dart_tool/chrome-device/Default/Extension State/LOG
.dart_tool/chrome-device/Default/Extension State/LOCK
.dart_tool/chrome-device/Default/Extension State/CURRENT
.dart_tool/chrome-device/Default/Extension State/000003.log
.dart_tool/chrome-device/Default/Extension Scripts/MANIFEST-000001
.dart_tool/chrome-device/Default/Extension Scripts/LOG
.dart_tool/chrome-device/Default/Extension Scripts/LOCK
.dart_tool/chrome-device/Default/Extension Scripts/CURRENT
.dart_tool/chrome-device/Default/Extension Scripts/000003.log
.dart_tool/chrome-device/Default/Download Service/EntryDB/LOG.old
.dart_tool/chrome-device/Default/Download Service/EntryDB/LOG
.dart_tool/chrome-device/Default/Download Service/EntryDB/LOCK
.dart_tool/chrome-device/Default/databases/Databases.db-journal
.dart_tool/chrome-device/Default/databases/Databases.db
.dart_tool/chrome-device/Default/coupon_db/LOG.old
.dart_tool/chrome-device/Default/coupon_db/LOG
.dart_tool/chrome-device/Default/coupon_db/LOCK
.dart_tool/chrome-device/Default/Cookies-journal
.dart_tool/chrome-device/Default/Cookies
.dart_tool/chrome-device/Default/commerce_subscription_db/LOG.old
.dart_tool/chrome-device/Default/commerce_subscription_db/LOG
.dart_tool/chrome-device/Default/commerce_subscription_db/LOCK
.dart_tool/chrome-device/Default/BudgetDatabase/LOG.old
.dart_tool/chrome-device/Default/BudgetDatabase/LOG
.dart_tool/chrome-device/Default/BudgetDatabase/LOCK
.dart_tool/chrome-device/Default/AutofillStrikeDatabase/LOG.old
.dart_tool/chrome-device/Default/AutofillStrikeDatabase/LOG
.dart_tool/chrome-device/Default/AutofillStrikeDatabase/LOCK
.dart_tool/chrome-device/Default/Affiliation Database-journal
.dart_tool/chrome-device/Default/Affiliation Database
